.button{
	-fx-background-image: url(Losa.png);
	-fx-background-size: cover;
}
.escalera{
	-fx-background-image: url(escaleras.png);
	-fx-background-size: cover;	
}
.pocion{
	-fx-background-image: url(../Items/Posion.png);
	-fx-background-size: cover;	
}
.pocionvacia{
	-fx-background-image: url(../Items/PosionVacia.png);
	-fx-background-size: cover;	
}